autopep8==1.5.7
backports.entry-points-selectable==1.1.0
certifi==2021.10.8
distlib==0.3.3
filelock==3.0.12
gunicorn==20.1.0
pbr==5.8.0
pipenv==2021.11.23
platformdirs==2.3.0
pycodestyle==2.7.0
six==1.16.0
stevedore==3.5.0
toml==0.10.2
virtualenv==20.8.0
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
